<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>card_task</title>
</head>
<body>
    <h2> Данные по задаче: {{ find_task.title }} </h2>
    <h4> Старт: {{ find_task.start }} Завершение: {{ find_task.end }}</h4>

    {% if count_link_task > 0 %}
        <form method="post">
            {% csrf_token %}
            <p>Исходящие задачи</p>
            <input type="text" id="FindTitle" name="FindTitle" maxlength="50" value="{{ FindTitle }}">
            <button type="submit" name="btn_find" value="new_link_find">Найти в исх.задачах </button>
            {% for linktask in list_link_task %}
                <div>
                    <button name="btn_unlink" type="submit" value="{{linktask.id}}">
                        -x-
                    </button>
                    <h5> {{linktask.title}} </h5>
                </div>
            {% endfor%}
    {% else %}
        <h3> С этой задачей пока не связазно других задач </h3>
    {% endif %}
    <h3>Список несвязанных задач</h3>
    <form method="post">
    {% csrf_token %}
        <input type="text" id="FindTitleUnlink" name="FindTitleUnlink" maxlength="50" value="{{ FindTitleUnlink }}">
        <button type="submit" name="btn_find_unlink" value="new_find_unlink">Найти в несвязанных задачах</button>
        {% for linktask in notlist_link_task %}
            <div>
                <button name="btn_link" type="submit" value="{{linktask.id}}">
                    -->
                </button>
                <h5> {{linktask.title}} </h5>
            </div>
        {% endfor%}

    </form>
</body>
</html>